.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.my-container{
  background: #3e3e3e;
  width: 500px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
  border-radius: 4px;
  color: #FF9800;
  padding: 30px;
}
